.container {
  min-height: 20vh;
  padding: 0 0.5rem;
  margin-bottom: 50px;
  margin-top: 30px;
  max-width: 650px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin-bottom: 50px;
  line-height: 1.15;
  font-size: 5rem;
}

.description {
  font-size: medium;
  margin-bottom: 10px;
  text-align: left;
  line-height: 1.65;
  word-spacing: normal;
}

.image {
  width: 100%;
  max-width: 950px;
  justify-content: center;
  align-items: center;
}
